In [2]:
import pandas as pd
data = pd.read_csv('Stat_32by32/data_on_1000_instance_2.txt')
data = data[data['Solved'] != 0]

In [3]:
data.head(5)

   Agent  Seed  Heuristic  Solved  HNode  LNode  Time  Makespan   SOC   SOL
0     50     0         ML       1     46    201    68        45  1310  1171
1     50     0   distance       1     44    198    52        43  1326  1193
2     50     0   conflict       1     51    227    31        50  1333  1188
3     50     0  neighbour       1     62    292    31        57  1417  1248
4     50     1         ML       1     57    256    31        56  1359  1280

In [4]:
data.groupby(['Agent', 'Heuristic'])['Solved'].sum()

Agent  Heuristic
50     ML           1000
       conflict     1000
       distance     1000
       neighbour    1000
100    ML           1000
       conflict     1000
       distance     1000
       neighbour    1000
150    ML           1000
       conflict     1000
       distance     1000
       neighbour    1000
200    ML           1000
       conflict     1000
       distance     1000
       neighbour    1000
250    ML           1000
       conflict      999
       distance     1000
       neighbour    1000
Name: Solved, dtype: int64

In [5]:
# Accuracy
for agent, group in data.groupby('Agent'):
    print(f"Group: {agent}")
    print(group.groupby('Heuristic')['SOC'].sum())

Group: 50
Heuristic
ML           1277453
conflict     1285700
distance     1273215
neighbour    1330418
Name: SOC, dtype: int64
Group: 100
Heuristic
ML           2902431
conflict     2975543
distance     2859414
neighbour    3222470
Name: SOC, dtype: int64
Group: 150
Heuristic
ML           4797110
conflict     5067251
distance     4700295
neighbour    5716996
Name: SOC, dtype: int64
Group: 200
Heuristic
ML           7005677
conflict     7632787
distance     6813126
neighbour    9096962
Name: SOC, dtype: int64
Group: 250
Heuristic
ML            9705803
conflict     10786523
distance      9277652
neighbour    13318319
Name: SOC, dtype: int64

In [6]:
# group by agent
grouped_A = data.groupby('Agent')
agent_wise_data = {}
for Agent, group_A in grouped_A:
    print(f"Group: {Agent}")
    print(type(group_A))    
    agent_wise_data[Agent] = group

Group: 50
<class 'pandas.core.frame.DataFrame'>
Group: 100
<class 'pandas.core.frame.DataFrame'>
Group: 150
<class 'pandas.core.frame.DataFrame'>
Group: 200
<class 'pandas.core.frame.DataFrame'>
Group: 250
<class 'pandas.core.frame.DataFrame'>

In [7]:
agent_wise_data[50].head(3)

,Agent,Seed,Heuristic,Solved,HNode,LNode,Time,Makespan,SOC,SOL
16000,250,0,ML,1,92,434,39,87,9994,8601
16001,250,0,distance,1,57,258,36,56,9532,8294
16002,250,0,conflict,1,69,314,37,68,10587,8620

In [8]:
a_50 = agent_wise_data[200]
a_50_g = a_50.groupby('Seed')
a_50_g['SOC'].sum()

Seed
0      44501
1      42559
2      45183
3      44544
4      41752
       ...
995    38690
996    45967
997    43169
998    41012
999    44430
Name: SOC, Length: 1000, dtype: int64

In [9]:
g_val = 'Seed'
matrix = 'LNode'
min_values = a_50.groupby(g_val)[matrix].min()

# Filtering the rows with the minimum value for each 'seed'
min_value_rows = a_50[a_50.set_index([g_val, matrix]).index.isin(min_values.reset_index().set_index([g_val, matrix]).index)]

# Counting the occurrences of each 'heuristic' in the result
count_by_heuristic = min_value_rows['Heuristic'].value_counts()
print(count_by_heuristic)

Heuristic
distance     763
ML           192
conflict      35
neighbour     12
Name: count, dtype: int64