In [63]:
import pandas as pd
data = pd.read_csv('Stat_32by32/data_on_500_instance_2.txt')
data = data[data['Solved'] != 0]

In [64]:
data.head(5)

   Agent  Seed  Heuristic  Solved  HNode  LNode  Time  Makespan   SOC   SOL
0     50     0         ML       1     45    209    61        44  1335  1264
1     50     0   distance       1     45    211     1        44  1353  1274
2     50     0   conflict       1     46    216     1        45  1339  1256
3     50     0  neighbour       1     45    199     1        44  1320  1259
4     50     1         ML       1     57    261    58        56  1425  1269

In [65]:
data.shape

(9901, 10)

In [81]:
# Accuracy
for agent, group in data.groupby('Agent'):
    print(f"Group: {agent}")
    print(group.groupby('Heuristic')['Makespan'].sum())

Group: 50
Heuristic
ML           23147
conflict     24627
distance     23566
neighbour    27880
Name: Makespan, dtype: int64
Group: 100
Heuristic
ML           24885
conflict     29228
distance     25274
neighbour    37444
Name: Makespan, dtype: int64
Group: 150
Heuristic
ML           27896
conflict     34117
distance     26553
neighbour    50337
Name: Makespan, dtype: int64
Group: 200
Heuristic
ML           29519
conflict     39775
distance     27735
neighbour    61846
Name: Makespan, dtype: int64
Group: 250
Heuristic
ML           32817
conflict     47044
distance     29639
neighbour    79277
Name: Makespan, dtype: int64

In [73]:
# group by agent
grouped_A = data.groupby('Agent')
agent_wise_data = {}
for Agent, group_A in grouped_A:
    print(f"Group: {Agent}")
    print(type(group_A))    
    agent_wise_data[Agent] = group

Group: 50
<class 'pandas.core.frame.DataFrame'>
Group: 100
<class 'pandas.core.frame.DataFrame'>
Group: 150
<class 'pandas.core.frame.DataFrame'>
Group: 200
<class 'pandas.core.frame.DataFrame'>
Group: 250
<class 'pandas.core.frame.DataFrame'>

In [57]:
agent_wise_data[50].head(3)

   Agent  Seed Heuristic  Solved  HNode  LNode  Time  Makespan   SOC   SOL
0     50     0        ML       1     45    209    60        44  1335  1264
1     50     0  distance       1     45    211     1        44  1353  1274
2     50     0  conflict       1     46    216     1        45  1339  1256

In [76]:
a_50 = agent_wise_data[200]
a_50_g = a_50.groupby('Seed')
a_50_g['SOC'].sum()

Seed
0      44068
1      54942
2      38852
3      41898
4      43607
       ...
495    28719
496    40672
497    41822
498    42167
499    45795
Name: SOC, Length: 500, dtype: int64

In [78]:
g_val = 'Seed'
matrix = 'SOC'
min_values = a_50.groupby(g_val)[matrix].min()

# Filtering the rows with the minimum value for each 'seed'
min_value_rows = a_50[a_50.set_index([g_val, matrix]).index.isin(min_values.reset_index().set_index([g_val, matrix]).index)]

# Counting the occurrences of each 'heuristic' in the result
count_by_heuristic = min_value_rows['Heuristic'].value_counts()
print(count_by_heuristic)

Heuristic
distance    407
ML           93
Name: count, dtype: int64